.allocation-container {
    text-align: center;
    padding: 5%;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.3s;
}

.allocation-container .leximin-agent-${agentIndex}-allocation-container {
    transition: max-height 0.3s ease;
}

.inner-p {
    font-size: 90%;
}